.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15rem;
}

.labelSelect {
  width: 100%;
  font-size: 1.6rem;
}

.select {
  width: 100%;
  height: 5rem;
  padding-left: 0.3rem;
  margin: 1rem 0;
  color: var(--text);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-1);
  outline: none;
  background-color: var(--white);
  cursor: inherit;
  line-height: inherit;
}

.options {
  border-radius: 0.5rem;
}

.input {
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  color: var(--text);
}

.errorMessage {
  width: 100%;
  color: var(--red);
  font-size: 1.2rem;
  text-align: left;
}

.containerResults {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.containerUser {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid var(--text-align);
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--gray-6);
}

.containerUser span {
  margin-bottom: 0.5rem;
}

.userAndress {
  font-size: 1rem;
}

.containerUserInfos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.backToResults {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--yellow);
  margin-bottom: 1rem;
}

.containerButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
}

.findServices {
  width: 48%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--primary);
}

.addServices {
  width: 48%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--dark-blue);
}

.addPayment {
  width: 48%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--green-2);
}

.deletePeople {
  width: 48%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--red);
}

.userInfos {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.fullName {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.userCpf {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.address {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.userEmail {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.userPhone {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.button {
  margin-top: 1rem;
  height: 6rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.button:enabled:hover {
  background-color: var(--gray-1);
  cursor: pointer;
}

@media (min-width: 768px) {
  .userAndress {
    font-size: 1.4rem;
  }
}
