.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: auto;
    overflow-y: auto;
    flex-direction: column;
  }
  
  .input {
    margin-bottom: 0.8rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 2.5rem;
  }
  
  .error {
    color: var(--red);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .button {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    transition: 0.3s;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #00bcd4;
  }